@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background: #000;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #ddd;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #ccc;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* cursor: none; */
}

.numeral {
  @apply flex justify-center items-center w-full;
  & svg {
    fill: #ccc;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fadeout {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation-fill-mode: forwards;
  animation-name: fadein; 
  animation-duration: 2s;
}

.fade-out {
  animation-fill-mode: forwards;
  animation-name: fadeout;
  animation-duration: 2s;
}